* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
  
  display: block;
  margin: auto;
  margin-top:10px ;
    height: 80px;
    width: 98%;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    border: 2px solid red;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  nav ul li{
    margin: 0 5px;
  }

  nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3 ease;
    padding: 8px 15px;
    
  }

  nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;

}

#banner {
  display: block;
  margin: auto;
  width: 95%;
  height: 450px;
}

.bannercontent {
  display: block;
  margin: auto;
  position: absolute;
  top: 430px;
  
  left: 5px;
  right: 5px;
  /* margin: auto; */

  /* width: 200px; */
  /* height: 100px; */
  /* border: 3px solid #73AD21; */
}


.content {
  position: relative;
  top: 80px;
  display: block;
  text-align: center;

}

.flex {
  display: flex;
  margin: auto;
  /* margin-left: 40px; */
  justify-content: space-around;
  align-content:center;
  flex-wrap: wrap;
  margin-top: 50px;
  
}

.imgscale {
  display:block;
  width: 350px;
  height: 250px;
}

.heading {
  display: block;
  margin-top: 15px;
}

.detail  {
  display: block;
  width:350px ;
  height: 300px;
  text-align: justify;  
  margin-top: 8px;
  padding-top: 0%;
}

.developer {
  background: rgb(36, 35, 35);
  color: white;
  width: 100%;
  height: 100px;

}


.logo {
  display: inline-block;
  width:30px ;
  border-radius: 10px;
}




